# Quarto files
/.quarto/
_site/
_freeze/


# R specific
.Rproj.user
.Rhistory
.RData
.Ruserdata
*_cache/
*_files/

# Mac specific
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Editor specific files
.vscode/
.idea/
*.swp
*.swo


**/*.quarto_ipynb
